
<h1 class="animated fadeIn fast"> 
	{{ hero.nombre | uppercase }} 
	<small>({{ hero.aparicion | date:'y' }})</small> 
</h1>

<hr>

<div class="row animated fadeIn">
	<div class="col-md-4">
		
		<img [src]="hero.img" class="img-fluid mb-5" [alt]="hero.nombre"/>
		
		<a [routerLink]="['/hero']" class="btn btn-outline-success btn-block">Regresar</a>

	</div>

	<div class="col-md-8">
		<h3> {{ hero.nombre }} </h3>
		<hr>

		<p> {{ hero.bio }} </p>
		<div>
			<img *ngIf="hero.casa != 'DC'" class="img-logo" src="assets/img/marvel-logo.png" alt="Marvel" srcset="">
			<img *ngIf="hero.casa == 'DC'" class="img-logo" src="assets/img/dc-logo.jpg" alt="Dc" srcset="">
		</div>
	</div>

</div>